{% extends 'kplus/BaseView.twig' %}

{% block styles %}
{% endblock styles %}

{% block content %}
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
           	
                    <small>Subheading</small>
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="{{route('home')}}">Home</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-file"></i> Blank Page
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
		
		<div class="row">
			<div clas="col-lg-12">
					
			</div>
		</div>
    </div>
    <!-- /.container-fluid -->
{% endblock content %}

{% block javascript %}
{% endblock javascript %}
