<div id="product-view">
	
	<div class="col-lg-offset-3 col-lg-6">
	<h1>Nieuw product aanmaken</h1>
		<form role="form">
			<div class="form-group">
				<div class="col-md-12">
					<label calss="control-label">Product naam</label>
					<input class="form-control" autofocus name="product-naam">
					<p class="help-block">Geef een product naam op</p>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-12">
					<label calss="control-label">Product EAN</label>
					<input class="form-control" type="numbers" name="ean-nummer">
					<p class="help-block">Scan/Voer in het EAN-nummer</p>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-6">
					<label calss="control-label">Product prijs</label>
					<input class="form-control" name="product-prijs">
					<p class="help-block">Geef het stukprijs op in &euro;</p>
				</div>
				<div class="col-md-6">
					<label calss="control-label">Product hoeveelheid</label>
					<input class="form-control" type="numbers" name="product-hoeveelheid">
					<p class="help-block">Geef de hoeveelheid aan</p>		
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-12">
					<button type="button" class="btn btn-create-product btn-success">Aanmaken</button>
				</div>
			</div>
		</form>
	</div>
</div>