{% extends 'kplus/BaseView.twig' %}

{% block styles %}
{% endblock styles %}

{% block content %}
<h1> worked </h1>
{{dump(username)}}
{% endblock content %}

{% block javascript %}
{% endblock javascript %}